#!/bin/bash

# rename to run-mathslax.sh

export SLACK_AUTH_TOKENS="token1; token2"
export SERVER="example.com"
export SLACK_TRIGGER="!latex"
export PORT=12345

MATHSLAX_DIRECTORY=/opt/mathslax

# add userdown config
export USERDOWN_UID=www-data
export USERDOWN_GID=www-data

CURR_DIR=$(pwd)

iptables -A INPUT -p tcp --dport $PORT -m conntrack --ctstate NEW,ESTABLISHED -j ACCEPT
iptables -A OUTPUT -p tcp --sport $PORT -m conntrack --ctstate ESTABLISHED -j ACCEPT

cd $MATHSLAX_DIRECTORY

userdown server.js

cd $CURR_DIR
