#!/bin/bash

# rename to run-mathslax.sh

export SLACK_AUTH_TOKENS="token1; token2"
export SERVER="example.com"
export SLACK_TRIGGER="!latex"
export PORT=12345

MATHSLAX_DIRECTORY=/opt/mathslax

# add userdown config
export USERDOWN_UID=www-data
export USERDOWN_GID=www-data

CURR_DIR=$(pwd)

[[ -z "$(iptables -L | grep ACCEPT | grep tcp | grep 'anywhere\s\{1,\}anywhere' | grep "dpt:$PORT ctstate NEW,ESTABLISHED")" ]] && iptables -A INPUT -p tcp --dport $PORT -m conntrack --ctstate NEW,ESTABLISHED -j ACCEPT
[[ -z "$(iptables -L | grep ACCEPT | grep tcp | grep 'anywhere\s\{1,\}anywhere' | grep "spt:$PORT ctstate ESTABLISHED")" ]] && iptables -A OUTPUT -p tcp --sport $PORT -m conntrack --ctstate ESTABLISHED -j ACCEPT

cd $MATHSLAX_DIRECTORY

CMD="userdown $MATHSLAX_DIRECTORY/server.js"

# kill existing
PS_INFO=$(ps aux | grep node | grep "$CMD" | grep $USERDOWN_UID)
if [[ ! -z $PS_INFO ]]
then
	echo
	echo "Killing existing process:"
	echo $PS_INFO
	echo
	PID=$(echo $PS_INFO | tr -s ' ' ' ' | cut -d ' ' -f 2)
	kill -s QUIT $PID
fi

$CMD

cd $CURR_DIR
